<div>
  <%= flash[:notice] %>
</div>

<h2>タイトル</h2>
<p><%= @book.title %></p>

<h2>本文</h2>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
<a class="back" href="/books">Back</a>